:root {
    /* Cores Principais */
    --cor-principal: #000000;      
    --cor-secundaria: #6dac1e;
    --cor-terciaria: #64e930; 
    
    /* Cor de texto */
    --cor-texto: #d8d8d8;
    --cor-texto-destaque: #6dac1e;
}

@font-face {
    font-family: 'fonterobo';
    src: url('fonts/NotoSansSunuwar-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'VT323';
    src: url('./fonts/VT323-Regular.ttf') format('truetype');
}

body{
    background-image: url('img/cubosPretoComVerde.png');

    font-family: 'fonterobo', sans-serif;
    font-family: 'VT323', monospace;
    color: var(--cor-texto);

    text-transform: uppercase;

    margin-left: 0px;
    margin-top: 30px;
    margin-right: 0px;
}

.navbar{
    background-color: var(--cor-secundaria);
    height: 50px;

    display: flex;
    align-items: center;   /* centraliza vertical */
    overflow: hidden;
}

.navbar h1 {
    white-space: nowrap;
    display: inline-block;
    animation: rodar 30s linear infinite;

    color: var(--cor-principal);
    margin: 0; 
}  

@keyframes rodar {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.banner{
    margin-top: 100px;
    width: 100%;
    
    border: 3px solid var(--cor-secundaria);
}

.areaPrincipal{
    border: 3px solid var(--cor-secundaria);
    margin-left: 20px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.imagemPrincipal{
    border: 3px solid var(--cor-secundaria);
    padding: 0px;
    width: 250px;
}

.biografia{
    width: 70%;

    background-color: var(--cor-principal);
    border: 3px solid var(--cor-secundaria);
    margin: 0px;
    padding-top: 0px;
}

.biografia h1{
    margin: 0px 5px;
}

.galeria{
    width: 15%;

    background-color: black;
    border: 3px solid var(--cor-secundaria);
}

.galeria h1{
    margin: 0px 5px;
}

.info{
    background-color: var(--cor-principal);
    
    border: 3px solid var(--cor-secundaria);
    width: 250px;

    padding: px;

}

.info h2{
    color: var(--cor-texto-destaque);

}

