:root {
    --cor-principal: #000000;
    --cor-secundaria: #6dac1e;
    --cor-terciaria: #64e930;

    --cor-texto: #d8d8d8;
    --cor-texto-destaque: #6dac1e;
}

@font-face {
    font-family: 'fonterobo';
    src: url('fonts/NotoSansSunuwar-Regular.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('fonts/VT323-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/cubosPretoComVerde.png');
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: var(--cor-texto);
    text-transform: uppercase;
}

body h1{
    background-color: var(--cor-secundaria);
}

.navbar {
    background-color: var(--cor-secundaria);
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navbar h1 {
    white-space: nowrap;
    animation: rodar 30s linear infinite;
    color: var(--cor-principal);
}

@keyframes rodar {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.banner {
    margin: 20px;
    border: 3px solid var(--cor-secundaria);
}

.banner img {
    width: 100%;
    display: block;
}

.areaPrincipal {
    display: flex;
    gap: 10px;
    margin: 20px;
    padding: 5px;
    border: 3px solid var(--cor-secundaria);
}

.areaPrincipal h1{
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 60%;
}

.ladoEsquerdo {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagemPrincipal img {
    width: 100%;
}

.imagemPrincipal,
.info {
    border: 3px solid var(--cor-secundaria);
    background-color: var(--cor-principal);
    padding: 10px;

    font-size: 20px;
}

.imagemPrincipal{
    padding: 0px;
}

.biografia {
    flex: 1;
    border: 3px solid var(--cor-secundaria);
    background-color: var(--cor-principal);
    padding: 10px;
}

.galeria {
    width: 350px;
    border: 3px solid var(--cor-secundaria);
    background-color: var(--cor-principal);
    padding: 10px;
    font-size: 20px;
}

h1 {
    margin-bottom: 10px;
}

.info h2 {
    color: var(--cor-texto-destaque);
}

span{
    color: var(--cor-texto-destaque);
}